:root {
    --darker-blue: #00296B;
    --dark-blue: #003F88;
    --blue: #00509D;
    --dark-yellow: #FDC500;
    --yellow: #FFD500; 
}

#section-1 { height: 100vh; position: relative; }
    #section-1 h2 {
        position: absolute;
        top: 10%; left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        margin-top: 40px;
        color: var(--dark-blue);
    }
    .svg {
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
    }
    .seta {
        position: absolute;
        top: 70%; left: 50%;
        transform: translateY(-50%);
		animation: setaBaixo 1s ease-in-out infinite alternate;
    }

.card-curso {
    height: 195px;
    margin: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}
    .card-curso img {
        position: relative;
        left: -12px;
        float: left;
        width:17.5%; margin-left:2%;
        vertical-align: middle;
        display: table-cell;
    }
    .titulo { margin-top: 20px; color: var(--dark-blue)}
    .subtitulo { color: var(--blue); }

@keyframes setaBaixo {
    from { top: 69%; }
    to { top: 71%; }
}