/* home */
.texto{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: #00296B;
}

#left{
    
    justify-content: left;
    display: flex;
}

#right{
    justify-content: right;
    display: flex;
}

.btn-primary{
    justify-content: left;
    display: flex;
}