:root {
    --darker-blue: #00296B;
    --dark-blue: #003F88;
    --blue: #00509D;
    --dark-yellow: #FDC500;
    --yellow: #FFD500; 
}

#section-1 { height: 100vh; position: relative; }
    .title {
        position: relative;
        top: 35%;
        float: left;
    }
    .title h1 {
        color: var(--dark-blue);
        margin-bottom: 40px;
    }
    .btn-outline-primary {
        border-color: var(--blue) !important;
        color: var(--blue) !important;
        font-weight: bold;
        letter-spacing: 2px;
    }
    .btn-outline-primary:hover {
        background-color: var(--blue) !important;
        color: white !important;
    }
    .svg-1 {
        width: 35%;
        position: absolute;
        top: 100%; right: 0;
        transform: translateY(-100%);
    }

    .svg-1 img {
        width: 100%;
    }

#section-2 { height: 100vh; position: relative; }
    .text-1 {
        width: 30%;
        position: absolute;
        top: 40%; left: 60%;
        text-align: ri;
    }
    .text-1 p { margin-bottom: 30px; color: var(--dark-blue); font-size: 1.2em; }
    .btn-outline-secondary {
        border-color: var(--dark-yellow) !important;
        color: var(--dark-yellow) !important;
        font-weight: bold;
        letter-spacing: 2px;
    }
    .btn-outline-secondary:hover {
        background-color: var(--dark-yellow) !important;
        color: white !important;
    }
    .svg-2 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

#section-3 { height: 100vh; position: relative; background-color: var(--dark-blue); }
    .categorias {
        position: absolute;
        top: 50%; left: 5%;
        transform: translateY(-50%);
    }
    .categorias-list {
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
    }
    .list-item {
        padding: 8px 15px;
        margin: 5px;
        border-radius: 50px;
        background-color: white;
        color: var(--darker-blue);
    }
    .text-2 {
        width: 30%;
        position: absolute;
        top: 50%; left: 60%;
        transform: translateY(-50%);
        text-align: center;
        color: white;
        font-size: 1.2em;
    }