:root {
    --darker-blue: #00296B;
    --dark-blue: #003F88;
    --blue: #00509D;
    --dark-yellow: #FDC500;
    --yellow: #FFD500; 
}

.form-w {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; height: 100vh;
    background-image: url("../images/Background-l.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.form {
    position: relative;
    width: 40%; height: 80%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255, 0.25);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

/* .form {
    position: absolute;
    width: 40%; height: 70%;
    top: 40%; left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: white;
}

form{
    width: 300px;
    margin: 200px auto;
    text-align: center;
}

input{
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
} */