@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');

:root {
    --darker-blue: #00296B;
    --dark-blue: #003F88;
    --blue: #00509D;
    --dark-yellow: #FDC500;
    --yellow: #FFD500; 
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Capriola', sans-serif
}

/* Container que alinhará todo o conteúdo da página na mesma orientação */
    .alinhamento {
        width: 90%; height: 100%;
        margin: 0 auto;
    }

/* Barra de navegação */
    nav {
        width: 100%; height: 70px;
    }

    .navbar-list {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
        .activated { color: var(--dark-yellow) !important; }
        .navbar-list li a {
            text-decoration: none;
            color: var(--dark-blue);
        }

    #navbar-logo {
        font-size: 2em;
    }

    #navbar-bar {
        width: 40%; height: 2px;
        background-color: var(--darker-blue);
    }
    
    .btn-outline-primary {
        border-color: var(--blue) !important;
        color: var(--blue) !important;
        font-weight: bold;
        letter-spacing: 2px;
    }
    .btn-outline-primary:hover {
        background-color: var(--blue) !important;
        color: white !important;
    }

/* Footer */
    .footer{
        width: 100%; height: 70px;
        position: relative;
        bottom: 0;
        text-align: center;
    }

    .footer-list {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
        .footer-list li a {
            text-decoration: none;
            color: var(--dark-blue);
        }

    #footer-logo {
        font-size: 2em;
    }

    #footer-bar {
        width: 60%; height: 2px;
        background-color: var(--darker-blue);
    }
    /* Responsividade */
    @media (max-width: 1100px) {
    .link{
        display: none;
    }
    .navbar-bar{
        width: 90%;
    }
    .navbar-list{
        justify-content: space-around;
    }
    .footer-list{
        justify-content: space-around;
    }
    .svg-1{
        display: none;
    }
    .title{
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
    }
    }

@media (max-width:1000px){
    .svg-2{
        display:none;
    }
    .text-1{
        text-align: center;
        left:50%;
        transform: translateX(-85%);
    }
    }