{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="../static/css/contato.css">
{% endblock %}

{% block title %} Contate-nos! | Joblog {% endblock %}

{% block content %}
    <div class="alinhamento">
        <section id="section-1">
            <h2>Entre em contato conosco!</h2>
            <div class="svg">
                <img src="../static/images/email_svg.svg" alt="Mulher segurando um certificado">
            </div>
            <span class="seta">
                <a href="#section-2">
                    <img src="../static/images/Seta-Baixo.svg" alt="Seta para baixo">
                </a>
            </span>
        </section>
    </div>
    <div id="section-2">
        <form action="https://formsubmit.co/tristaoteste@gmail.com" method="POST">
            <div class="cont c1">
                <label for="inp_name">Nome:</label>
                <input type="text" name="inp_name">
            </div>
            <div class="cont c2">
                <label for="inp_email">E-mail:</label>
                <input type="email" name="inp_email">
            </div>
            <div class="cont c3">
                <label for="inp_tel">Telefone/Celular:</label>
                <input type="tel" name="inp_tel">
            </div>
            <div class="cont c4">
                <label for="inp_textbox">Mensagem:</label>
                <textarea name="inp_textbox"></textarea>
            </div>
            <div class="c5">
                <input type="submit" value="Enviar">
            </div>
        </form>
    </div>
{% endblock %}