{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="../static/css/contato.css">
{% endblock %}

{% block title %} Contate-nos! | Joblog {% endblock %}

{% block content %}
    <h1>Formulário de Contato do B1nar10s</h1>
    <form action="https://formsubmit.co/tristaoteste@gmail.com" method="POST" class="form">

        <label for="name">Nome:</label>
        <input type="text" name="name" id="name" placeholder="Digite seu Nome" required>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Digite seu Email" required>
        <label for="name">Celular (Whatsapp):</label>
        <input type="text" name="name" id="name" placeholder="Digite seu número de Telefone" required>
        <label for="message">Mensagem</label>
        <textarea name="message" id="message" placeholder="Mensagem" required></textarea>
        <!-- Esse comando serve para desabilitar o reCAPTCHA -->
        <!-- <input type="hidden" name="_captcha" value="false"> --> 
    
        <!-- <input type="hidden" name="_next" value="http://127.0.0.1:5500/obrigado.html"> -->
        <input type="hidden" name="_next" value="../templates/obrigado.html">
        <button type="submit">Enviar</button>
    </form>
{% endblock %}