<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/template.css">
    <link rel="stylesheet" href="../static/css/contato.css">
    <title>Contato</title>
</head>
<body>
    <!-- Barra de navegação -->
    <nav>
        <div class="alinhamento">
            <ul class="navbar-list">
                <li id="navbar-logo"><a href="/">LOGO</a></li>
                <li id="navbar-bar"><span></span></li>
                <li class="link"><a href="/">Início</a></li>
                <li class="link"><a href="/vagas">Vagas</a></li>
                <li class="link"><a href="/cursos">Cursos e Certificações</a></li>
                <li class="link"><a href="/contato">Contato</a></li>
            </ul>
        </div>
    </nav>
      <!-- Formulário de Contato -->
    <h1>Formulário de Contato do B1nar10s</h1>
    <form action="https://formsubmit.co/tristaoteste@gmail.com" method="POST" class="form">

        <label for="name">Nome:</label>
        <input type="text" name="name" id="name" placeholder="Digite seu Nome" required>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Digite seu Email" required>
        <label for="name">Celular (Whatsapp):</label>
        <input type="text" name="name" id="name" placeholder="Digite seu número de Telefone" required>
        <label for="message">Mensagem</label>
        <textarea name="message" id="message" placeholder="Mensagem" required></textarea>
        <!-- Esse comando serve para desabilitar o reCAPTCHA -->
       <!-- <input type="hidden" name="_captcha" value="false"> --> 
       
       <!-- <input type="hidden" name="_next" value="http://127.0.0.1:5500/obrigado.html"> -->
       <input type="hidden" name="_next" value="../templates/obrigado.html">

        <button type="submit">Enviar</button>
   </form>

    <!-- Footer -->
    <footer class="footer">
        <div class="alinhamento">
            <ul class="footer-list">
                <li id="footer-logo"><a href="">LOGO</a></li>
                <li id="footer-bar"><span></span></li>
                <li class="link"><a href="">All Rights Reserved</a></li>
            </ul>
        </div>
    </footer>
    <script>
        function vagas() { window.location.href = "/vagas";}
        function cursos() { window.location.href = "/cursos" }
        function cursos() { window.location.href = "/contato" }
    </script>
</body>
</html>