{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="../static/css/copyright.css">
{% endblock %}

{% block title %} Joblog {% endblock %}


{% block content %}
<div class="alinhamento">
    <div class="logo">
        <img src="../static/images/LOGO.svg" alt="Logo Joblog">
    </div>
    <br>
    <h2>Scrum Master:</h2>
    <!-- <br> -->
    <p>Camila Rendondo</p>

    <br>
    <br>
    <h2>Product Owner:</h2>
    <!-- <br>     -->
    <p>Gustavo Marques</p>

    <br>
    <br>
    <h2>Scrum Team:</h2>
    <!-- <br> -->
    <p>Henrique Ferreira <br>João Henrique <br>Micael Leal <br>Simone Kanzawa </p>

    <br>
    <br>
    <br>
    <h2>Copyright:</h2>
    <br>
    <p>Todos Direitos Reservados a Equipe B1NAR10S</p>
</div>
{% endblock %}

{% block js %}

{% endblock %}