{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="../static/css/cursos.css">
{% endblock %}

{% block title %} Cursos e Certificações | Joblog {% endblock %}

{% block content %}
    <div class="alinhamento">
        <section id="section-1">
            <h2>Cursos e Certificações</h2>
            <div class="svg">
                <img src="../static/images/SVG-CursosCertificacoes.svg" alt="Mulher segurando um certificado">
            </div>
            <span class="seta">
                <a href="#section-2">
                    <img src="../static/images/Seta-Baixo.svg" alt="Seta para baixo">
                </a>
            </span>
        </section>
        <section id="section-2">
        </section>
    </div>
{% endblock %}

{% block js %}
    <script src="../static/js/cursosJsonHandler.js"></script>
{% endblock %}