{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="../static/css/cursos.css">
    <link rel="stylesheet" href="../static/css/paginacao.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
{% endblock %}

{% block title %} Cursos e Certificações | Joblog {% endblock %}

{% block content %}
    <div class="alinhamento">
        <section id="section-1">
            <h2>Cursos e Certificações</h2>
            <div class="svg">
                <img src="../static/images/SVG-CursosCertificacoes.svg" alt="Mulher segurando um certificado">
            </div>
            <span class="seta">
                <a href="#section-2">
                    <img src="../static/images/Seta-Baixo.svg" alt="Seta para baixo">
                </a>
            </span>
        </section>
        <section id="section-2">
            {% for curso in data %}
                <div class="curso">
                    <img src="../static/images/SVG-Certificados.svg" alt="Placeholder da imagem dos cursos">
                    <!-- Cada class="col" é uma coluna na row em que está contida -->
                    <div class="col curso-content">
                        <h3 class="titulo">{{ curso.curso_titulo }}</h3>
                        <p class="categoria">/ {{ curso.curso_categoria }}</p>
                        <div class="detalhes">
                            <p class="det">{{ curso.curso_tipo }}</p>
                            <p class="det">{{ curso.curso_formato }}</p>
                            {% if curso.curso_duracao is not none %}
                                <p class="det">{{ curso.curso_duracao }}</p>
                            {% endif %}
                            {% if curso.curso_conclusao is not none %}
                                <p class="det">{{ curso.curso_conclusao }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
        <div class="paginacao">
            <a href="?page=1">&laquo; Primeiro </a> 
            <p> - </p>
            <a onclick="previous()"> Anterior </a> 
            <p> || </p>
            <a onclick="next()"> Próximo </a> 
            <p> - </p>
            <a href="?page={{ obj.paginator.num_pages }}"> Último &raquo;</a>	
        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        function next() {
            const url = window.location.search
            const urlParam = new URLSearchParams(url)
            var maxPage = parseInt('{{ obj.paginator.num_pages }}')
            var page = urlParam.get('page')
            console.log(typeof(maxPage))
            console.log(urlParam + " | " + url)

            if (!url) {
                window.location.href = "/cursos?page=2"
            } else if (page > maxPage) {
                console.log("Não há mais paginas")
                page = page
            } else {
                page = parseInt(page) + 1
                window.location.href = "/cursos?page="+page
            }
        }
        function previous() {
            const url = window.location.search
            const urlParam = new URLSearchParams(url)
            var maxPage = parseInt('{{ obj.paginator.num_pages }}')
            var page = urlParam.get('page')
            console.log(typeof(maxPage))

            if (page <= 1) {
                console.log("Não há mais paginas")
            } else {
                page = parseInt(page) - 1
                window.location.href = "/vagas?page="+page
            }
        }
    </script>
{% endblock %}