{% extends 'base.html' %}

{% block style %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/home.css">
{% endblock %}

{% block title %} Joblog {% endblock %}

{% block content %}
    <section id="section-1">
        <div class="alinhamento">
            <div class="title">
                <h1>A vaga ideal para você, <br>se encontra aqui, <br>confira!</h1>
                <button type="button" class="btn btn-outline-primary" onclick="vagas()">Confira as vagas agora mesmo!</button>
            </div>
        </div>
        <div class="svg-1">
            <img src="../static/images/SVG-1-Principal.svg" >
        </div>
    </section>

    <!-- Section 3 -->
    <section id="section-3">
        <div class="alinhamento">
            <div class="categorias">
                <ul class="categorias-list">
                <li class="list-item"><a href="/vagas/banco-de-dados">Banco de dados</a></li>
                <li class="list-item"><a href="/vagas/ti">TI</a></li>
                <li class="list-item"><a href="/vagas/redes">Redes</a></li>
                <li class="list-item"><a href="/vagas/software">Software</a></li>
                <li class="list-item"><a href="/vagas/hardware">Hardware</a></li>
                <li class="list-item"><a href="/vagas/back-end">Back-end</a></li>
                <li class="list-item"><a href="/vagas/engenheiro-de-dados">Engenheiro de Dados</a></li>
                <li class="list-item"><a href="/vagas/cientista-de-dados">Cientista de Dados</a></li>
                <li class="list-item"><a href="/vagas/segurança-da-informação">Segurança da Informação</a></li>
                <li class="list-item"><a href="/vagas/desenvolvedor">Desenvolvedor</a></li>
                <li class="list-item"><a href="/vagas/web">Web</a></li>
                <li class="list-item"><a href="/vagas/tecnologia">Tecnologia</a></li>
                </ul>
            </div>
            <div class="text-2">
                <p>Procurando algo mais especifico? Pesquise por categorias, a melhor forma de encontrar o que deseja!</p>
            </div>
        </div>
    </section>

    <!-- Section 2 -->
    <section id="section-2">
        <div class="alinhamento">
            <div class="svg-2">
                <img src="../static/images/SVG-2-Principal.svg" >
            </div>
            <div class="text-1">
                <p>Quer algo a mais? Oferecemos também cursos e certificados para que você conquiste muito mais em sua carreira.</p>
                <button type="button" class="btn btn-outline-secondary" onclick="cursos()">Saiba mais &#8594;</button>
            </div>
        </div>
    </section>

    <!-- Section 3 -->
    <section id="section-3">
        <div class="alinhamento">
            <div class="categorias">
                <ul class="categorias-list">
                    <li class="list-item"><a href="/localizacao_especifica/minas gerais">Minas Gerais</a></li>
                    <li class="list-item"><a href="/localizacao_especifica/são paulo">São Paulo</a></li>
                    <li class="list-item"><a href="/localizacao_especifica/rio de janeiro">Rio de Janeiro</a></li>
                    <li class="list-item"><a href="/localizacao_especifica/santos">Santos</a></li>
                    <li class="list-item"><a href="/localizacao_especifica/barueri">Barueri</a></li>
                    <li class="list-item"><a href="/localizacao_especifica/louveira">Louveira</a></li>
                    <li class="list-item"><a href="/localizacao_especifica/ribeirão preto">Ribeirão Preto</a></li>
                    <li class="list-item"><a href="/localizacao_especifica/distrito federal">Distrito Federal</a></li>
                    <li class="list-item"><a href="/localizacao_especifica/paraná">Paraná</a></li>
                    <li class="list-item"><a href="/localizacao_especifica/duque de caxias">Duque de Caxias</a></li>
                    <li class="list-item"><a href="/localizacao_especifica/marituba">Marituba</a></li>
                    <li class="list-item"><a href="/localizacao_especifica/paranaguá">Paranaguá</a></li>
                    <li class="list-item"><a href="/localizacao_especifica/porto feliz">Porto Feliz</a></li>
                    <li class="list-item"><a href="/localizacao_especifica/florianópolis">Florianópolis</a></li>
                    <li class="list-item"><a href="/localizacao_especifica/são josé dos campos">São José dos Campos</a></li>
                    <li class="list-item"><a href="/localizacao_especifica/campinas">Campinas</a></li>
                    <li class="list-item"><a href="/localizacao_especifica/salvador">Salvador</a></li>
                </ul>
            </div>
            <div class="text-2">
                <p>Procurando algo mais especifico? Pesquise por categorias, a melhor forma de encontrar o que deseja!</p>
            </div>
        </div>
    </section>

    <!-- Section 4 -->
    <section id="section-4">
        <div class="alinhamento">
            <div class="text-3">
                <p>Dados sobre vagas e cursos.</p>
                <button type="button" class="btn btn-outline-secondary" onclick="dados()">Clique aqui!</button>
            </div>
        </div>
        <div class="svg-3">
            <img src="../static/images/data.svg" >
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        function vagas() { window.location.href = "/vagas";}
        function cursos() { window.location.href = "/cursos" }
        function dados() { window.location.href = "/dados" }
    </script>
{% endblock %}