<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/template.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Home</title>
</head>
<body>
    <!-- Barra de navegação -->
    <nav>
        <div class="alinhamento">
            <ul class="navbar-list">
                <li id="navbar-logo"><a href="">LOGO</a></li>
                <li id="navbar-bar"><span></span></li>
                <li class="link"><a href="/" class="activated">Início</a></li>
                <li class="link"><a href="/vagas">Vagas</a></li>
                <li class="link"><a href="/cursos">Cursos e Certificações</a></li>
                <li class="link"><a href="/institucional">Institucional</a></li>
                <li class="link"><a href="/contato">Contato</a></li>
            </ul>
        </div>
    </nav>
    <!-- Section 1 -->
    <section id="section-1">
        <div class="alinhamento">
            <div class="title">
                <h1>A vaga ideal para você, <br>se encontra aqui, <br>confira!</h1>
                <button type="button" class="btn btn-outline-primary" onclick="vagas()">Confira as vagas agora mesmo!</button>
            </div>
        </div>
        <div class="svg-1">
            <img src="../static/images/SVG-1-Principal.svg" >
        </div>
    </section>
    
    <!-- Section 2 -->
    <section id="section-2">
        <div class="alinhamento">
            <div class="svg-2">
                <img src="../static/images/SVG-2-Principal.svg" >
            </div>
            <div class="text-1">
                <p>Quer algo a mais? Oferecemos também cursos e certificados para que você conquiste muito mais em sua carreira.</p>
                <button type="button" class="btn btn-outline-secondary" onclick="cursos()">Saiba mais &#8594;</button>
            </div>
        </div>
    </section>

    <!-- Section 3 -->
    <section id="section-3">
        <div class="alinhamento">
            <div class="categorias">
                <ul class="categorias-list">

                    <!-- filtro das categorias -->
                    <li class="list-item"><a href="#">Banco de dados</a></li>
                    <li class="list-item"><a href="#">TI</a></li>
                    <li class="list-item"><a href="#">Redes</a></li>
                    <li class="list-item"><a href="#">Software</a></li>
                    <li class="list-item"><a href="#">Hardware</a></li>
                    <li class="list-item"><a href="#">Back-end</a></li>
                    <li class="list-item"><a href="#">Engenheiro de Dados</a></li>
                    <li class="list-item"><a href="#">Cientista de Dados</a></li>
                    <li class="list-item"><a href="#">Segurançada Informação</a></li>
                    <li class="list-item"><a href="#">Desenvolvedor</a></li>
                    <li class="list-item"><a href="#">Web</a></li>
                    <li class="list-item"><a href="#">Tecnologia</a></li>

                </ul>
            </div>
            <div class="text-2">
                <p>Procurando algo mais especifico? Pesquise por categorias, a melhor forma de encontrar o que deseja!</p>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="alinhamento">
            <ul class="footer-list">
                <li id="footer-logo"><a href="">LOGO</a></li>
                <li id="footer-bar"><span></span></li>
                <li class="link"><a href="">All Rights Reserved</a></li>
            </ul>
        </div>
    </footer>
    <script>
        function vagas() { window.location.href = "/vagas";}
        function cursos() { window.location.href = "/cursos" }
        function cursos() { window.location.href = "/contato" }
    </script>
</body>
</html>