<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/template.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <!-- <link rel="stylesheet" href="../static/css/bootstrap.min.css"> -->
    <title>Home</title>
</head>
<body>
    <!-- Barra de navegação -->
    <nav>
        <div class="alinhamento">
            <ul class="navbar-list">
                <li id="navbar-logo"><a href="">LOGO</a></li>
                <li id="navbar-bar"><span></span></li>
                <li class="link"><a href="/">Início</a></li>
                <li class="link"><a href="/vagas">Vagas</a></li>
                <li class="link"><a href="/cursos">Cursos e Certificações</a></li>
            </ul>
        </div>
    </nav>
    <!-- Section 1 -->
    <section id="section-1">
        <div class="alinhamento">
            <div class="title">
                <h1>A vaga ideal para você, <br>se encontra aqui, <br>confira!</h1>
                <button type="button" class="btn btn-outline-primary"><a href="/vagas">Confira as vagas agora mesmo!</a></button>
            </div>
        </div>
        <div class="svg-1">
            <img src="../static/images/SVG-1-Principal.svg" >
        </div>
    </section>
    
    <!-- Section 2 -->
    <section id="section-2">
        <div class="alinhamento">
            <div class="svg-2">
                <img src="../static/images/SVG-2-Principal.svg" >
            </div>
            <div class="text-1">
                <p>Quer algo a mais? Oferecemos também cursos e certificados para que você conquiste muito mais em sua carreira.</p>
                <button type="button" class="btn btn-outline-secondary">Saiba mais &#8594;</button>
            </div>
        </div>
    </section>

    <!-- Section 3 -->
    <section id="section-3">
        <div class="alinhamento">
            <div class="categorias">
                <ul class="categorias-list">
                    <li class="list-item">Banco de dados</li>
                    <li class="list-item">TI</li>
                    <li class="list-item">Redes</li>
                    <li class="list-item">Software</li>
                    <li class="list-item">Hardware</li>
                    <li class="list-item">Back-end</li>
                    <li class="list-item">Engenheiro de Dados</li>
                    <li class="list-item">Cientista de Dados</li>
                    <li class="list-item">Segurança da Informação</li>
                    <li class="list-item">Desenvolvedor</li>
                    <li class="list-item">Web</li>
                    <li class="list-item">Tecnologia</li>
                </ul>
            </div>
            <div class="text-2">
                <p>Procurando algo mais especifico? Pesquise por categorias, a melhor forma de encontrar o que deseja!</p>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="alinhamento">
            <ul class="footer-list">
                <li id="footer-logo"><a href="">LOGO</a></li>
                <li id="footer-bar"><span></span></li>
                <li class="link"><a href="">All Rights Reserved</a></li>
            </ul>
        </div>
    </footer>

    <!-- animações em js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>