{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="../static/css/institucional.css">
{% endblock %}

{% block title %} Institucional | Joblog {% endblock %}

{% block content %}
    <div class="alinhamento">
        <br>
        <h2>Quem somos</h2>
        <br>
        <p>Somos uma empresa que promove o encontro de valores profissionais entre pessoas e empresas da área de T.I. Através da nossa plataforma de anúncios de vagas, feita de forma ágil e assertiva, ajudamos milhares de empresas/candidatos nos processos de treinamento e recrutamento</p>

        <br>
        <br>
        <h2>Missão</h2>
        <br>    
        <p>Nossa missão é ajudar as pessoas e empresas da área de T.I. e do Brasil inteiro a realizar todo o seu potencial profissional.</p>

        <br>
        <br>
        <h2>Valores</h2>
        <br>
        <p>Nossa força motriz valoriza e celebra diferentes origens, e é através da tecnologia que juntamos o que parecia impossível e amplificamos soluções e oportunidades.</p>

        <br>
        <br>
        <h2>Visão</h2>
        <br>
        <p>Fomentar o crescimento profissional e empresarial com o apoio da tecnologia.</p>
    </div>
{% endblock %}