<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/template.css">
    <link rel="stylesheet" href="../static/css/institucional.css">
    <title>Institucional</title>
</head>

<body>
    <!-- Template a ser seguido em todas as páginas da API -->
    <!-- Barra de navegação -->
    <nav>
        <div class="alinhamento">
            <ul class="navbar-list">
				<li id="navbar-logo"><a href="">LOGO</a></li>
				<li id="navbar-bar"><span></span></li>
				<li class="link"><a href="/">Início</a></li>
				<li class="link"><a href="/vagas">Vagas</a></li>
				<li class="link"><a href="/cursos">Cursos e Certificações</a></li>
				<li class="link"><a href="/institucional" class="activated">Institucional</a></li>
			</ul>
        </div>
    </nav>
 

    <div class="alinhamento">
            <br>
            <h2>Quem somos</h2>
            <br>
            <p>Somos uma empresa que promove o encontro de valores profissionais entre pessoas e empresas da área de T.I. Através da nossa plataforma de anúncios de vagas, feita de forma ágil e assertiva, ajudamos milhares de empresas/candidatos nos processos de treinamento e recrutamento</p>

            <br>
            <br>
            <h2>Missão</h2>
            <br>    
            <p>Nossa missão é ajudar as pessoas e empresas da área de T.I. e do Brasil inteiro a realizar todo o seu potencial profissional.</p>

            <br>
            <br>
            <h2>Valores</h2>
            <br>
            <p>Nossa força motriz valoriza e celebra diferentes origens, e é através da tecnologia que juntamos o que parecia impossível e amplificamos soluções e oportunidades.</p>

            <br>
            <br>
            <h2>Visão</h2>
            <br>
            <p>Fomentar o crescimento profissional e empresarial com o apoio da tecnologia.</p>
        
    </div>


     <!-- Footer -->
    <footer class="footer">
        <div class="alinhamento">
            <ul class="footer-list">
                <li id="footer-logo"><a href="">LOGO</a></li>
                <li id="footer-bar"><span></span></li>
                <li class="link"><a href="">All Rights Reserved</a></li> <!-- B1NAR10S Todos os Direitos Reservados -->
            </ul>
        </div>
    </footer>
</body>
</html>
