{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="../static/css/metricas.css">
<link rel="stylesheet" href="../static/css/paginacao.css">
{% endblock %}

{% block title %} Metricas | Joblog {% endblock %}

{% block content %}
<div>
    <p class="titulos">Titulo da vaga</p>
</div>

<!-- <img class="svgmetricas" type="image/svg+xml" src="../static/imagens/Frame 2.svg">  -->

<div class="roundmetricas">
    <ul class="navbar-list">
        <li><img class="svgmetricas" src="../static/imagens/Frame 2.svg">
            <img class="svgmetricas" src="../static/imagens/Localization.svg">
        </li>
        <div class="conteudometricas">


            <li>
                <ul>
                    <script>
                        var getUrlParameter = function getUrlParameter(sParam) {
                            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                                sURLVariables = sPageURL.split('&'),
                                sParameterName,
                                i;

                            for (i = 0; i < sURLVariables.length; i++) {
                                sParameterName = sURLVariables[i].split('=');

                                if (sParameterName[0] === sParam) {
                                    return sParameterName[1] === undefined ? true : sParameterName[1];
                                }
                            }
                        };


                        $(document).ready(function () {
                            $('#resultado').text(getUrlParameter('resultado'));
                            })
                    </script>
                    <div class="container">
                        <div class="last-liner">
                            <p>Valor do Pedido: <span id="resultado" class="resultado"></span></p>
                    
                    
                    
                            <p class="texto">Fusce hendrerit ultricies mollis. Praesent convallis neque elit, et mattis
                        tellus lobortis eu.</p>
                    <br>
                    <p class="texto">Fusce hendrerit</p>
                    <li class="listametricas texto">Praesent</li>
                    <li class="listametricas texto">Nullam id laoreet</li>
                    <li class="listametricas texto">Curabitir sagittis</li>
                    <li class="listametricas texto">Meacenas</li>
                    <li class="listametricas texto">Sed</li>
                    <br>

                    <p class="texto">Fusce hendrerit ultricies mollis. Praesent convallis neque elit, et mattis
                        tellus lobortis eu.</p>
                    <br>
                    <p class="texto">Fusce hendrerit</p>
                    <li class="listametricas texto">Praesent</li>
                    <li class="listametricas texto">Nullam id laoreet</li>
                    <li class="listametricas texto">Curabitir sagittis</li>
                    <li class="listametricas texto">Meacenas</li>
                    <li class="listametricas texto">Sed</li>
                </ul>
            </li>
        </div>
    </ul>
</div>
{% endblock %}