{% extends 'base.html' %}

{% block style %}
	<link rel="stylesheet" href="../static/css/vagas.css">
	<link rel="stylesheet" href="../static/css/paginacao.css">
{% endblock %}

{% block title %} Vagas | Joblog {% endblock %}

{% block content %}
	<div class="alinhamento">
		<section id="section-1">
			<h2>Encontre aqui, as vagas perfeitas para você</h2>
			<div class="svg">
				<img src="../static/images/SVG-Vagas.svg" alt="Mulher segurando um certificado">
			</div>
			<span class="seta">
				<a href="#section-2">
					<img src="../static/images/Seta-Baixo.svg" alt="Seta para baixo">
				</a>
			</span>
		</section>
		<section class="categorias">
			<h2>Categorias</h2>
			<ul class="categorias-list">
				<li class="list-item"><a href="/vagas/banco-de-dados">Banco de dados</a></li>
				<li class="list-item"><a href="/vagas/ti">TI</a></li>
				<li class="list-item"><a href="/vagas/redes">Redes</a></li>
				<li class="list-item"><a href="/vagas/software">Software</a></li>
				<li class="list-item"><a href="/vagas/hardware">Hardware</a></li>
				<li class="list-item"><a href="/vagas/back-end">Back-end</a></li>
				<li class="list-item"><a href="/vagas/engenheiro-de-dados">Engenheiro de Dados</a></li>
				<li class="list-item"><a href="/vagas/cientista-de-dados">Cientista de Dados</a></li>
				<li class="list-item"><a href="/vagas/segurança-da-informação">Segurança da Informação</a></li>
				<li class="list-item"><a href="/vagas/desenvolvedor">Desenvolvedor</a></li>
				<li class="list-item"><a href="/vagas/web">Web</a></li>
				<li class="list-item"><a href="/vagas/tecnologia">Tecnologia</a></li>
			</ul>
		</section>
		<div id="section-2">
			<ul class="navbar-list">
				<li class="titulo">Vagas focadas em T.I.</li>
				<li id="navbar-bar" style="width: 70%;"></li>
			</ul>
			<div id="content-1">
				{% for vaga in data %}
					<div class="vaga">
						<img src="../static/images/icone.svg">
						<div class="vaga-content" onclick="getVagas(this.id)" id="{{ vaga['vaga_id'] }}">
							<h3>
								<a>{{ vaga['vaga_titulo'][:50] }}</a>
								<span class="nivel">{{ vaga['vaga_nivel'] }}</span>
							</h3>
							<span class="empresa">{{ vaga['vaga_empresa'] }}</span>
							<span class="local">{{ vaga['vaga_localizacao'] }}</span>
							<p class="descricao">{{ vaga['vaga_descricao'][10:300].replace("?", "") }}...</p>
						</div>
					</div>
				{% endfor %}
				<div class="paginacao">
					<a href="?page=1">&laquo; Primeiro </a> 
					<p> - </p>
					<a onclick="previous()"> Anterior </a> 
					<p> || </p>
					<a onclick="next()"> Próximo </a> 
					<p> - </p>
					<a href="?page={{ obj.paginator.num_pages }}"> Último &raquo;</a>	
				</div>
				
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
    <script>
        function next() {
            const url = window.location.search
            const urlParam = new URLSearchParams(url)
            var maxPage = parseInt('{{ obj.paginator.num_pages }}')
            var page = urlParam.get('page')
            console.log(typeof(maxPage))
            console.log(urlParam + " | " + url)

            if (!url) {
                window.location.href = "/vagas?page=2"
            } else if (page > maxPage) {
                console.log("Não há mais paginas")
                page = page
            } else {
                page = parseInt(page) + 1
                window.location.href = "/vagas?page="+page
            }
        }
        function previous() {
            const url = window.location.search
            const urlParam = new URLSearchParams(url)
            var maxPage = parseInt('{{ obj.paginator.num_pages }}')
            var page = urlParam.get('page')
            console.log(typeof(maxPage))

            if (page <= 1) {
                console.log("Não há mais paginas")
            } else {
                page = parseInt(page) - 1
                window.location.href = "/vagas?page="+page
            }
        }
		function getVagas(vaga_id) {
			window.location.href = "/vaga_especifica/"+vaga_id;			
        }
    </script>
{% endblock %}