<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/template.css">
	<link rel="stylesheet" href="../static/css/vagas.css">
    <title>Vagas</title>
</head>
<body>
    <!-- Barra de navegação -->
    <nav>
        <div class="alinhamento">
            <ul class="navbar-list">
				<li id="navbar-logo"><a href="">LOGO</a></li>
				<li id="navbar-bar"><span></span></li>
				<li class="link"><a href="/">Início</a></li>
				<li class="link"><a href="/vagas">Vagas</a></li>
				<li class="link"><a href="/cursos">Cursos e Certificações</a></li>
			</ul>
        </div>
    </nav>
    <!-- Conteúdo da página deve ser inserido dentro dessa DIV -->
    <div class="alinhamento">
		<section id="section-1">
			<h2>Encontre aqui, as vagas perfeitas para você</h2>
            <div class="svg">
                <img src="../static/images/SVG-Vagas.svg" alt="Mulher segurando um certificado">
            </div>
            <span class="seta">
				<a href="#section-2">
					<img src="../static/images/Seta-Baixo.svg" alt="Seta para baixo">
				</a>
            </span>
        </section>
		<section class="categorias">
			<h2>Categorias</h2>
			<ul class="categorias-list">
				<li class="list-item">Banco de dados</li>
				<li class="list-item">TI</li>
				<li class="list-item">Redes</li>
				<li class="list-item">Software</li>
				<li class="list-item">Hardware</li>
				<li class="list-item">Back-end</li>
				<li class="list-item">Engenheiro de Dados</li>
				<li class="list-item">Cientista de Dados</li>
				<li class="list-item">Segurança da Informação</li>
				<li class="list-item">Desenvolvedor</li>
				<li class="list-item">Web</li>
				<li class="list-item">Tecnologia</li>
			</ul>
		</section>
		<div id="section-2">
			<ul class="navbar-list">
				<li class="titulo">Vagas focadas em T.I.</li>
				<li id="navbar-bar" style="width: 70%;"></li>
			</ul>
			<div id="content-1"></div>
		</div>
		<div id="section-3">
			<ul class="navbar-list">
				<li class="titulo">Vagas em outras áreas</li>
				<li id="navbar-bar" style="width: 70%;"></li>
			</ul>
			<div id="content-2"></div>
		</div>	
    </div>
    <!-- Footer -->
    <footer class="footer">
        <div class="alinhamento">
            <ul class="footer-list">
                <li id="footer-logo"><a href="">LOGO</a></li>
                <li id="footer-bar"><span></span></li>
                <li class="link"><a href="">All Rights Reserved</a></li> <!-- B1NAR10S Todos os Direitos Reservados -->
            </ul>
        </div>
    </footer>
	<script src="../static/js/vagasJsonHandler.js"></script>
	<script src="../static/js/vagas-geraisJsonHandler.js"></script>
</body>
</html>